*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#section1 {
    padding: 20px;
    height: 30px;
    margin-bottom: 20px;
}

#trademark {
    font-size: 5px;
}

#navigation {
    display: flex;
    gap: 20px;
    position: absolute;
    right: 0px;
    top: 50px;
    width: 60%;
}

.navLinks {
    text-decoration: none;
    color: #191E3B;
    font-weight: 550;
    font-size: 14px;
    width:auto
}

#download {
    color: black;
    font-weight: 550;
    font-size: 14px;
    background: #fff;
    border: 1px solid #DFE0E4;
    border-radius: 15px;
}

#section2 {
    background-image: url(background-image.jpeg);
    background-size: 100%;
    padding: 130px 35px;

}

#everything {
    color: #FFFFFF;
    font-size: 34px;
font-weight: 400;
}

#buttonsContainer {
    display: flex;
    gap: 20px;
    background: #F7F7F8;
    border-radius: 10px;
    padding: 10px;
    justify-items: center;
}

.bookButtons {
    color: #191E3B;
    border: 1px solid #818494;
    border-radius: 10px;
    padding: 10px;
    width: 30%;
    display: flex;
    height: 50px;
   
    
}
.button-text{
    margin-top: -10px;
    font-size: 13px;
    width:auto;
    margin-left: -20px;
}

.buttonIcons {
    height: 80%;
    width: 50%;
}

.button-title {
    font-size: 12px;
    font-weight: 50;
    text-align: left;
}

#seek {
    width:auto;
    background: #191E3B;
    color: #FFFFFF;
    border: 1px solid #191E3B;
    border-radius: 20px;
    padding: 15px 20px;
    font-size: 15px;
    font-weight: 500;
}

#seek:hover {
    background: #40445C;
    border: 1px solid #40445C;
}

#register {
    background: #191E3B;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 2%;
}

#registerIcon {
    background: #AED1F3;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 10px;
}

#sign-in {
    color: #FFFFFF;
    font-weight: 500;
}

#register-link {
    position: absolute;
    text-decoration: none;
    right: 5%;
    margin-top: 15px;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 12px;
    background: #191E3B;
    border: 1px solid #191E3B;
    border-radius: 20px;
    padding: 10px;

}

#register-link:hover {
    background: #40445C;
    border: 1px solid #40445C;
}
#section3{
    margin-left: 20px;
}
.section-heading{
    font-size: 28px;
color:#191E3B;
}

#photo-container{
    display: grid;
    gap: 30px;
    grid-auto-flow:column;
    overflow:auto;
}
.dest-card{
    width: 500px;
    height: 270px;
    border:1px solid #DFE0E4;
    border-radius: 10px 10px 10px 10px;
}
.dest-photo{
width: 500px;
height: 220px;
border-radius: 10px 10px 0px 0px;
}
.dest-card-title{
    margin-left: 20px;
    color: #191E3B;
}
#section4{
    margin-left: 20px;
}

#acc-container{
    display: grid;
    gap: 30px;
    grid-auto-flow:column;
    overflow:auto;
}
.acc-title{
    padding-left: 10px;
    padding-top: 230px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bolder;
}
.acc-card{
    width:200px ;
    border-radius: 10px;
}
#acc-card1{
    background-image: url(holiday-home.jpeg);
    background-size: 425px;
}
#acc-card2{
    background-image: url(holiday-apartment.jpeg);
    background-size: 425px;
}
#acc-card3{
    background-image: url(holiday-cottage.jpeg);
    background-size: 425px;
}
#acc-card4{
    background-image: url(country-house.jpeg);
    background-size: 425px;
}
#acc-card5{
    background-image: url(villa.jpeg);
    background-size: 505px;
}
#acc-card6{
    background-image: url(chalet.jpeg);
    background-size: 425px;
    
}
#section5{
    margin-left: 20px;
}

.offers{
    color: #191E3B;
    font-size: 14px;
    font-weight: 400;
margin-top: -20px;
}
#period{
    font-weight: bolder;
}
#trip-container{
    display: grid;
    gap: 30px;
    grid-auto-flow:column;
    overflow:auto; 
}
.trip-card{
    height: 450px;
    width: 270px;
}
.trip-img{
    width: 270px;
    height: 200px;
    border-radius: 10px;
}
.review-container{
    display: inline-flex;
    gap: 5px;
    height:25px;
    margin-top: 10px;
}
.green{
width:fit-content;
padding: 6px;
background: #227950;
color: #FFFFFF;
font-size: 12px;
font-weight: bolder;
border-radius: 3px;
justify-items: center;
}
.review{
margin-top: 6px;
color: #191E3B;
font-size: 12px;
}
.Unusual{
    color: #191E3B;
    font-weight: bolder;
font-size: 14px;
}
.trip-title{
    color: #191E3B;
    font-size: 16px;
    font-weight: bolder;
    margin-top: 10px;
}
.trip-address{
    color: #191E3B;
    font-size: 16px;
    margin-top: -18px;
}
.trip-price{
    color: #191E3B;
    font-size: 20px;
    font-weight: bolder;
margin-top: -10px;
}
.trip-price-description{
    margin-top: -19px;
color: #191E3B;
font-size: 12px;
}
#section6{
    margin-left: 10px;
    display: flex;
    gap: 20px;
}
.section6-card{
    width: 100%;
    height: 60%;
}
.section6-img{
    width: 100%;
    height: 50%;
    border-radius: 5%;
}
.section6-title{
font-size: 13px;
letter-spacing: 1px;
font-weight: 500;
margin-top: 10px;
}
.section6-title2{
    margin-top: -15px;
    font-weight: 600;
    font-size: 18px;
    width: 45%;
}
#section8{
    display: flex;
    border:0.5px solid #DFE0E4;
    border-radius: 20px;
    height: 330px;
    padding: 20px;
}
#text-container{
    width:400px;
    padding: 20px;
}
#find{
    font-size: 32px;
    font-weight: 500;
}
#cards-container{
    display: grid;
    gap: 10px;
    grid-auto-flow:column;
    overflow:auto; 
    margin-top: 10px;
}
.cards{
    width:200px ;
    border-radius: 10px;
    height: 260px;
}
.acc-titles{
    padding-left: 10px;
    margin-top: 230px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bolder;
}
#card1{
    background-image: url(card1.jpg);
    background-size: 100%;
}
#card2{
    background-image: url(card2.jpeg);
    background-size: 100%;
}
#card3{
    background-image: url(card3.jpg);
    background-size: 100%;
}
#card4{
    background-image: url(card4.jpg);
    background-size: 100%;
}
#card5{
    background-image: url(card5.jpeg);
    background-size: 100%;
}
#section9{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    padding: 20px;
}
.icons-card{
    width:270px;
    height: 180px;
}
.icons{
    width: 50px;
    height: 50px;
}
#section10{
background-image: url(woman.jpeg);
border-radius: 20px;
padding: 60px 20px;
}
#white{
    background: #FFFFFF;
    width: 350px;
    height: 370px;
    border-radius: 15px;
    padding: 30px;

}
#rent{
    color: #191E3B;
    font-size:36px;
    line-height: 40px;
    font-weight:500;
}
#blue-btn{
    background: #191E3B;
    border: 1px solid #191E3B;
    color: #FFFFFF;
    padding: 15px;
    border-radius: 30px;
}
#section11{
    margin-left: 20px;
}
.last-titles{
font-size: 28px;
margin-bottom: 20px;
color: #191E3B;
}
.last-para{
    color: #191E3B;
    margin-bottom: 20px;
}
.text-links{
    text-decoration: none;
    color: #0067DB;
}
#section12{
    margin-left: 20px;
}
.last-small{
    color: #191E3B;
    font-size: 20px;
    padding: 10px;
    font-weight: 500;

}
.dropdown{
    float: right;
}
#section13{
    background: #F7F7F8;
    border-radius: 15px;
    padding: 40px 20px;
}
#img-footer{
    height: 20px;

}
.footer-container{
    display: flex;
    gap: 20%;
    border-bottom:1px solid #DFE0E4;
padding-bottom: 20px;
margin-bottom: 20px;
}
.footer-groups{
    width: auto;
}
.footer-titles{
    font-size:12px;
font-weight: 500;
}
.footer-links{
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #0067DB;
    font-size:12px;
}
footer{
    font-size: 12px;
    text-align: center;
}